@page "/"
@using ApiGatewayBlazor.Client.Models.Entidad
@inject HttpClient httpclient

<PageTitle>Catalogo de Productos</PageTitle>


<h1>Productos</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>CantidadStock</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Producto producto in productos)
        {
            <tr>
                <td>@producto.Id</td>
                <td>@producto.Nombre</td>
                <td>@producto.Descripcion</td>
                <td>@producto.Precio</td>
                <td>@producto.CantidadStock</td>
                <td>
                    <button type="button" class="btn btn-success">Like</button>
                    <button type="button" class="btn btn-danger">Dislike</button>
                </td>
                <td>
                    <button type="button" class="btn btn-primary" @onclick="() => ComprarProducto(producto)">Comprar</button>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<h1>Producto Mas Gustados</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>CantidadStock</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Producto producto in productos)
        {
            <tr>
                <td>@producto.Id</td>
                <td>@producto.Nombre</td>
                <td>@producto.Descripcion</td>
                <td>@producto.Precio</td>
                <td>@producto.CantidadStock</td>
                <td>
                    <button type="button" class="btn btn-success">Like</button>
                    <button type="button" class="btn btn-danger">Dislike</button>
                </td>
                <td>
                    <button type="button" class="btn btn-primary" @onclick="() => ComprarProducto(producto)">Comprar</button>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<h1>Productos Menos Gustados</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>CantidadStock</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Producto producto in productos)
        {
            <tr>
                <td>@producto.Id</td>
                <td>@producto.Nombre</td>
                <td>@producto.Descripcion</td>
                <td>@producto.Precio</td>
                <td>@producto.CantidadStock</td>
                <td>
                    <button type="button" class="btn btn-success">Like</button>
                    <button type="button" class="btn btn-danger">Dislike</button>
                </td>
                <td>
                    <button type="button" class="btn btn-primary" @onclick="() => ComprarProducto(producto)">Comprar</button>
                </td>
            </tr>
        }
    </tbody>
</table>



@code {

    List<Producto> productos = new List<Producto>();

    protected override async Task OnInitializedAsync()
    {
        await BuscarFacturas();
    }

    private async Task BuscarFacturas()
    {
        string apiUrl = "/api/Productos";

        try
        {
            productos = await httpclient.GetFromJsonAsync<List<Producto>>(apiUrl);
        }
        catch (Exception ex)
        {
            // Handle exception (e.g., show an error message)
            Console.WriteLine($"Error fetching data: {ex.Message}");
        }
    }

    private void LikeProducto(Producto producto)
    {
        // Implement your like logic here
        Console.WriteLine($"Liked {producto.Nombre}");
    }

    private void DislikeProducto(Producto producto)
    {
        // Implement your dislike logic here
        Console.WriteLine($"Disliked {producto.Nombre}");
    }

    private void ComprarProducto(Producto producto)
    {
        // Implement your purchase logic here
        Console.WriteLine($"Purchased {producto.Nombre}");
    }
}
