@page "/"
@using ApiGatewayBlazor.Client.Models.Entidad
@inject HttpClient httpClient

<PageTitle>Catalogo de Productos</PageTitle>

<h1>Productos</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>CantidadStock</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Producto producto in productos)
        {
            <tr>
                <td>@producto.Id</td>
                <td>@producto.Nombre</td>
                <td>@producto.Descripcion</td>
                <td>@producto.Precio</td>
                <td>@producto.CantidadStock</td>
                <td>
                    <button type="button" class="btn btn-primary" @onclick="() => ComprarProducto(producto)">Comprar</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    List<Producto> productos = new List<Producto>();

    protected override async Task OnInitializedAsync()
    {
        await BuscarProductos();
    }

    private async Task BuscarProductos()
    {
        string apiUrl = "/api/Productos";

        try
        {
            productos = await httpClient.GetFromJsonAsync<List<Producto>>(apiUrl);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error fetching data: {ex.Message}");
        }
    }

    private Dictionary<int, int> cantidades = new Dictionary<int, int>();

    private async Task ComprarProducto(Producto producto)
    {
        if (cantidades.ContainsKey(producto.Id))
        {
            cantidades[producto.Id]++;
        }
        else
        {
            cantidades[producto.Id] = 1;
        }

        CarritoCompra carritoCompra = new CarritoCompra
            {
                IdCliente = 1,
                IdProducto = producto.Id,
                Cantidad = cantidades[producto.Id]
            };

        string apiUrl = "/api/CarritoCompras"; 

        try
        {
            var response = await httpClient.PostAsJsonAsync(apiUrl, carritoCompra);

            if (response.IsSuccessStatusCode)
            {
                Console.WriteLine($"Successfully added {producto.Nombre} to the cart. Quantity: {carritoCompra.Cantidad}");
            }
            else
            {
                Console.WriteLine($"Failed to add {producto.Nombre} to the cart. Status code: {response.StatusCode}");
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error adding to cart: {ex.Message}");
        }
    }
}
